body.jsenabled .block_efquicklist .submitbutton {
    display: none;
}

.block_efquicklist .quickcourseprogress {
    visibility: hidden;
}

.block_efquicklist ul {
    margin: 0;
}

.block_efquicklist li {
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d3d3d3;
}

#efquicklistsearch {
    width: 120px;
}
